body{
    background-color: #141414;
}
img{
    width:100%;
    /*margin-left: 10%;*/
    /*margin-right:10%;*/
}
button{
    margin-top: 20px;
    margin-left:42vw;
    width:185px;
    height:56px;
    color:white;
    background-color: #e31c25;
    border-style: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    outline: none;
    cursor:pointer;
}
footer h2{
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}
footer h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color:white;
    text-align:center;
}

.redes{
    margin-left:45%;
}
a i{
    color:white;
    font-size: 50px;
    padding: 8px;
    text-decoration: none;
}

h5{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-decoration: none;
}

@media (max-width: 360px) {
    button{
        margin-left:22vw;
    }
    .redes{
        margin-left:32%;
    }
}
@media (max-width: 414px) {
    button{
        margin-left:29vw;
    }
    .redes{
        margin-left:34%;
    }
}
@media (max-width: 411px) {
    button{
        margin-left:29vw;
    }
    .redes{
        margin-left:34%;
    }
}
@media (max-width: 768px) {
    button{
        margin-left:38vw;
    }
    .redes{
        margin-left:42%;
    }
}
@media (max-width: 450px) {
    button{
        margin-left:28vw;
    }
    .redes{
        margin-left:34%;
    }
}
@media (max-width: 500px) {
    button{
        margin-left:28vw;
    }
    .redes{
        margin-left:35%;
    }
}
@media (max-width: 540px) {
    button{
        margin-left:23vw;
    }
    .redes{
        margin-left:33%;
    }
}

